.root {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: #ddd;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 700px;
}

input {
  font-size: 20pt;
  background-color: #333;
  color: #ddd;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.copy {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: auto;
  background-color: transparent;
  border: none;
}
